[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cairosvg = ">=2.8.2"
urllib3 = ">=2.5.0"
python-dotenv = ">=1.2.1"

[dev-packages]

[requires]
python_version = "3.13"
