# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package to PyPI

env:
  PYTHON_MAIN_VERSION: 3.14
  POETRY_VERSION: 2.3.2

on:
  release:
    types: [published]

jobs:
  deploy:
    name: Test on ${{ matrix.os}}
    runs-on: ${{ matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.11', '3.12', '3.13', '3.14']
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install dependencies
      run: |
        python -m pip install poetry==${{ env.POETRY_VERSION }}
        poetry install
        
    - name: Build Python package and Upload to PyPi
      env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      run: |
          poetry update
          poetry build
          poetry publish --username "__token__" --password $PYPI_TOKEN
